.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw , 10px);
}
.sidebar-options{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20%;
    gap: 20px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 0px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}
.sidebar-option #admin-icons{
    font-size: 1.4rem;
    margin-top: 7px;
    color: white;
}
.sidebar-option.active{
    background-color: transparent;
    border-color: crimson;
}
#list-name{
    color: white;
 }
@media (max-width:800px){
    .sidebar-option #list-name{
        display: none;
    }
}